@font-face {
  font-family: "Black";
  src: url("../fonts/YekanBakhFaNum-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";
  src: url("../fonts/YekanBakhFaNum-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ExtraBlack";
  src: url("../fonts/YekanBakhFaNum-ExtraBlack.ttf") format("truetype");
}
@font-face {
  font-family: "ExtraBold";
  src: url("../fonts/YekanBakhFaNum-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Light";
  src: url("../fonts/YekanBakhFaNum-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: url("../fonts/YekanBakhFaNum-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SemiBold";
  src: url("../fonts/YekanBakhFaNum-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Thin";
  src: url("../fonts/YekanBakhFaNum-Thin.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  direction: rtl;
}

body {
  background: linear-gradient(to bottom, #d3243b, #d5223e);
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
body .swiper-container,
body .swiper-container2,
body .swiper-container3,
body .swiper-container4,
body .swiper-container4A,
body .swiper-container4B,
body .swiper-container-Special {
  width: 100%;
  height: 100%;
}
body .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .Yalda-Banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
body .Yalda-Banner .BackgroundImage {
  width: 100%;
}
body .Yalda-Banner .BackgroundImage img {
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: 0px 0 53px 47px #bf302b;
  filter: saturate(1.1);
  object-fit: contain;
}
body .Yalda-Banner .Text {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  right: 14%;
  top: 25%;
}
body .Yalda-Banner .Text .Code {
  font-family: "Bold", sans-serif;
  font-size: 18px;
  padding: 12px 54px;
  width: fit-content;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background: rgba(218, 65, 55, 0.65);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.205);
  color: #ffffff;
  margin-bottom: 16px;
  transform: translateX(-120px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
}
body .Yalda-Banner .Text .Texts {
  user-select: none;
}
body .Yalda-Banner .Text .Texts * {
  color: #ffffff;
}
body .Yalda-Banner .Text .Texts h1 {
  font-family: "ExtraBold";
  font-size: 52px;
}
body .Yalda-Banner .Text .Texts h4 {
  font-family: "Thin";
  font-size: 42px;
}
body .Yalda-Banner .Text button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: fit-content;
  box-shadow: 0px 4px 54.4px 0px rgba(212, 252, 99, 0.4);
  background: linear-gradient(90.19deg, #88f469 -79.46%, #eeff8d 111.93%);
  padding: 12px 36px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 30px;
}
body .Yalda-Banner .Text button:hover {
  transition: scale 0.2s ease-in-out;
  scale: 1.03;
}
body .Yalda-Banner .Text button:not(:hover) {
  transition: scale 0.2s ease-in-out;
  scale: 1;
}
body .Yalda-Banner .Text button span {
  color: #383838;
  font-family: "Bold", sans-serif;
  font-size: 18px;
}
body .Yalda-Banner .Text button div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .Yalda-Banner .ShadowLine {
  position: absolute;
  width: 100%;
  box-shadow: 0 0 80px 120px #ba332f;
  left: 0;
  bottom: 0px;
  z-index: 2;
}
body .Container-Products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 1200px;
  margin-top: 20px;
  align-self: center;
}
body .Container-Products * {
  z-index: 2;
}
body .Container-Products .Small-Sliders {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
body .Container-Products .Small-Sliders .Slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  cursor: pointer;
}
body .Container-Products .Small-Sliders .Slides .Tag {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #000000;
  width: fit-content;
  padding: 6px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 100px;
  z-index: 3;
}
body .Container-Products .Small-Sliders .Slides .Tag div {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .Container-Products .Small-Sliders .Slides .Tag span {
  color: #e9e1b2;
  font-size: 12px;
  font-family: "Regular", sans-serif;
}
body .Container-Products .Small-Sliders .Slides .Section1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  user-select: none;
}
body .Container-Products .Small-Sliders .Slides .Section1 .Product-Image {
  max-width: 190px;
  max-height: 230px;
  height: 100%;
  width: 100%;
}
body .Container-Products .Small-Sliders .Slides .Section1 .Product-Image img {
  object-fit: contain;
  width: 100%;
}
body .Container-Products .Small-Sliders .Slides .Section1 .Product-Infonmation {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
  width: 100%;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Infonmation
  .Product-Title {
  font-family: "Bold", sans-serif;
  font-size: 18px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Infonmation
  .Product-Details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Infonmation
  .Product-Details
  .Word {
  font-family: "Bold", sans-serif;
  font-size: 14px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Infonmation
  .Product-Details
  .Details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Infonmation
  .Product-Details
  .Details
  * {
  color: #485967;
  font-family: "Regular";
  font-size: 12px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Infonmation
  .Product-Details
  .Details
  .Detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Infonmation
  .Product-Details
  .Details
  .Detail
  span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #0865fe;
}
body .Container-Products .Small-Sliders .Slides .Section1 .Product-Price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Prices {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Prices
  .Price {
  font-size: 16px;
  color: #8ca0b2;
  font-family: "Regular", sans-serif;
  text-decoration: line-through;
  margin-left: 8px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Prices
  .Off-Price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Prices
  .Off-Price
  p {
  font-size: 26px;
  font-family: "ExtraBold", sans-serif;
  color: #ff2727;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Prices
  .Off-Price
  .Off-Label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Prices
  .Off-Price
  .Off-Label
  .Off-Precent {
  background-color: #ff2727;
  color: #ffffff;
  border-radius: 100px;
  font-family: "Regular", sans-serif;
  font-size: 12px;
  padding: 2px 10px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Prices
  .Off-Price
  .Off-Label
  span {
  font-family: "Regular", sans-serif;
  color: #ff2727;
  font-size: 14px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Show-Product {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Show-Product:hover {
  transition: scale 0.15s ease-in-out;
  scale: 1.05;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Show-Product
  div {
  display: flex;
  align-items: center;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section1
  .Product-Price
  .Show-Product
  p {
  font-family: "Bold", sans-serif;
  font-size: 14px;
  color: #0865fe;
}
body .Container-Products .Small-Sliders .Slides .Section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}
body .Container-Products .Small-Sliders .Slides .Section2 .Product-Balance {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section2
  .Product-Balance
  .Inf {
  font-family: "Regular", sans-serif;
  font-size: 14px;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section2
  .Product-Balance
  .Inf
  strong {
  color: #00c09b;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section2
  .Product-Balance
  .Balance-Bar {
  background-color: #eff1f3;
  height: 4px;
  width: 310px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  user-select: none;
}
body
  .Container-Products
  .Small-Sliders
  .Slides
  .Section2
  .Product-Balance
  .Balance-Bar
  .Bar {
  background-color: #00c09b;
  height: 4px;
  right: 0;
  width: 44%;
  border-radius: 100px;
}
body .Container-Products .Small-Sliders .Slides .Section2 .Off-Time {
  display: flex;
  flex-direction: column;
  align-items: end;
  user-select: none;
}
body .Container-Products .Small-Sliders .Slides .Section2 .Off-Time .Word {
  color: #ff2727;
  font-family: "Regular", sans-serif;
  font-size: 14px;
}
body .Container-Products .Small-Sliders .Slides .Section2 .Off-Time .Time {
  color: #ff2727;
  font-family: "Bold", sans-serif;
  font-size: 20px;
}
body .Container-Products .Small-Sliders .Slides .Section2 .Off-Time .Time * {
  color: #ff2727;
  font-family: "Bold", sans-serif;
  font-size: 20px;
}
body .Container-Products .Small-Sliders .Slider {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
  max-height: 420px;
}
body .Container-Products .Small-Sliders .Slider.Right {
  width: 70%;
  overflow: hidden;
}
body .Container-Products .Small-Sliders .Slider.Left {
  width: 30%;
  overflow: hidden;
}
body .Container-Products .Small-Sliders .Slider.Left .Slides {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body .Container-Products .Small-Sliders .Slider.Left .Slides .Product-Image {
  max-width: 140px;
  max-height: 180px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Image
  img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
body .Container-Products .Small-Sliders .Slider.Left .Slides .Product-Title {
  font-family: "Bold", sans-serif;
  font-size: 14px;
}
body .Container-Products .Small-Sliders .Slider.Left .Slides .Product-Price {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Prices {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Prices
  .Price {
  color: #485967;
  font-family: "Regular", sans-serif;
  text-decoration: line-through;
  font-size: 14px;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Prices
  .Off-Price {
  color: #0865fe;
  font-size: 16px;
  font-family: "Bold", sans-serif;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Show-Product {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Show-Product
  .Show {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Show-Product
  .Show:hover {
  transition: scale 0.15s ease-in-out;
  scale: 1.05;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Show-Product
  .Show
  div {
  display: flex;
  align-items: center;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Show-Product
  .Show
  div
  svg {
  fill: #ff2727;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Show-Product
  .Show
  div
  svg
  path {
  fill: #ff2727;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Show-Product
  .Show
  p {
  font-family: "Bold", sans-serif;
  font-size: 14px;
  color: #ff2727;
}
body
  .Container-Products
  .Small-Sliders
  .Slider.Left
  .Slides
  .Product-Price
  .Show-Product
  .Off-Precent {
  width: fit-content;
  height: fit-content;
  background-color: #ff2727;
  color: #ffffff;
  border-radius: 100px;
  font-family: "Regular", sans-serif;
  font-size: 12px;
  padding: 2px 10px;
}
body .Container-Products .Big-Slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  max-height: 420px;
  overflow: hidden;
  margin-bottom: 30px;
}
body .Container-Products .Big-Slider .Slides {
  height: 100%;
  max-width: 300px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
}
body .Container-Products .Big-Slider .Slides .Tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #000000;
  width: fit-content;
  padding: 6px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 100px;
  z-index: 3;
}
body .Container-Products .Big-Slider .Slides .Tag div {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .Container-Products .Big-Slider .Slides .Tag span {
  color: #e9e1b2;
  font-size: 12px;
  font-family: "Regular", sans-serif;
}
body .Container-Products .Big-Slider .Slides .Product-Image {
  max-width: 140px;
  max-height: 180px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .Container-Products .Big-Slider .Slides .Product-Image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
body .Container-Products .Big-Slider .Slides .Product-Title {
  font-family: "Bold", sans-serif;
  font-size: 14px;
}
body .Container-Products .Big-Slider .Slides .Product-Price {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body .Container-Products .Big-Slider .Slides .Product-Price .Prices {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body .Container-Products .Big-Slider .Slides .Product-Price .Prices .Price {
  color: #485967;
  font-family: "Regular", sans-serif;
  text-decoration: line-through;
  font-size: 14px;
}
body .Container-Products .Big-Slider .Slides .Product-Price .Prices .Off-Price {
  color: #0865fe;
  font-size: 16px;
  font-family: "Bold", sans-serif;
}
body .Container-Products .Big-Slider .Slides .Product-Price .Show-Product {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}
body
  .Container-Products
  .Big-Slider
  .Slides
  .Product-Price
  .Show-Product
  .Off-Precent {
  width: fit-content;
  height: fit-content;
  background-color: #ff2727;
  color: #ffffff;
  border-radius: 100px;
  font-family: "Regular", sans-serif;
  font-size: 12px;
  padding: 2px 10px;
}
body .Transportation-Banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 40px 0;
  overflow-x: hidden !important;
  overflow-y: visible;
  position: relative;
}
body .Transportation-Banner .Banner-Image {
  max-width: 100%;
  min-width: 820px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
body .Transportation-Banner .Banner-Image img {
  object-fit: cover;
}
body .Transportation-Banner .Banner-Texts {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .Transportation-Banner .Banner-Texts * {
  color: #262626;
}
body .Transportation-Banner .Banner-Texts .Text {
  display: flex;
  flex-direction: column;
  gap: 14px;
  transform: translate(0px, -120px);
}
body .Transportation-Banner .Banner-Texts .Text .BigText {
  display: flex;
  flex-direction: column;
}
body .Transportation-Banner .Banner-Texts .Text .BigText span {
  display: none;
}
body .Transportation-Banner .Banner-Texts .Text .BigText * {
  font-family: "ExtraBold", sans-serif;
  font-size: 40px;
}
body .Transportation-Banner .Banner-Texts .Text .SmallText {
  font-family: "Regular", sans-serif;
  font-size: 20px;
  word-spacing: -1px;
}
body .Transportation-Banner .Icons {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
  margin-left: 20px;
}
body .Transportation-Banner .Icons .Square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  background: rgba(255, 226, 201, 0.45);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border-radius: 32px;
  height: 230px;
  width: 230px;
  border: 1.5px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.75);
  border-right-color: rgba(255, 255, 255, 0.75);
  border-bottom-color: rgba(245, 224, 195, 0.75);
  border-left-color: rgba(245, 224, 195, 0.75);
  box-shadow: 0px 0px 31px 4px #edc9ad;
}
body .Transportation-Banner .Icons .Square .Icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .Transportation-Banner .Icons .Square .Icon svg {
  width: 75px;
  height: 75px;
}
body .Transportation-Banner .Icons .Square .Word {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .Transportation-Banner .Icons .Square .Word * {
  font-family: "Bold", sans-serif;
  font-size: 14px;
}
body .Transportation-Banner .Icons .Square.a {
  transform: translate(150px, -30px);
}
body .Transportation-Banner .Icons .Square.b {
  transform: translate(0px, -30px);
}
body .Category-Discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95vw;
  margin: 40px 0;
  overflow: hidden;
  align-self: center;
  gap: 30px;
}
body .Category-Discount .Icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .Category-Discount svg {
  height: 70px;
  width: 70px;
}
body .Category-Discount .Head-Text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
body .Category-Discount .Head-Text .Word {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .Category-Discount .Head-Text .Word p {
  color: #ffffff;
  font-family: "Regular", sans-serif;
  font-size: 24px;
  line-height: 0;
  margin-bottom: -6px;
}
body .Category-Discount .Nav-Bottom {
  display: flex;
}
body .Category-Discount .Nav-Top {
  display: none;
}
body .Category-Discount .Nav-Bottom,
body .Category-Discount .Nav-Top {
  flex-direction: row;
  align-items: center;
  margin: 6px 0;
}
body .Category-Discount .Slider-Place {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
body .Category-Discount .Slider-Place .Slide {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 550px;
  overflow: hidden;
  border-radius: 48px 62px 62px 62px;
  user-select: none;
  z-index: 1 !important;
}
body .Category-Discount .Slider-Place .Slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2 !important;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.02) 100%
  );
}
body .Category-Discount .Slider-Place .Slide .Texts {
  position: absolute;
  z-index: 3 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  width: 100%;
  gap: 0px;
}
body .Category-Discount .Slider-Place .Slide .Texts * {
  color: #ffffff;
}
body .Category-Discount .Slider-Place .Slide .Texts .B-Text {
  font-family: "ExtraBold", sans-serif;
  font-size: 36px;
}
body .Category-Discount .Slider-Place .Slide .Texts .S-Text {
  font-family: "Light", sans-serif;
  font-size: 14px;
}
body .Category-Discount .Slider-Place .Slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .swiper-button-next-Discount,
body .swiper-button-prev-Discount,
body .swiper-button-next-DiscountPlus,
body .swiper-button-prev-DiscountPlus,
body .swiper-button-prev-DiscountPlusA,
body .swiper-button-next-DiscountPlusA,
body .swiper-button-prev-DiscountPlusB,
body .swiper-button-next-DiscountPlusB {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .swiper-button-next-Discount::after,
body .swiper-button-prev-Discount::after,
body .swiper-button-next-DiscountPlus::after,
body .swiper-button-prev-DiscountPlus::after,
body .swiper-button-prev-DiscountPlusA::after,
body .swiper-button-next-DiscountPlusA::after,
body .swiper-button-prev-DiscountPlusB::after,
body .swiper-button-next-DiscountPlusB::after {
  all: unset;
}
body .swiper-button-next-Discount::before,
body .swiper-button-prev-Discount::before,
body .swiper-button-next-DiscountPlus::before,
body .swiper-button-prev-DiscountPlus::before,
body .swiper-button-prev-DiscountPlusA::before,
body .swiper-button-next-DiscountPlusA::before,
body .swiper-button-prev-DiscountPlusB::before,
body .swiper-button-next-DiscountPlusB::before {
  all: unset;
}
body .swiper-button-next-Discount:hover,
body .swiper-button-prev-Discount:hover,
body .swiper-button-next-DiscountPlus:hover,
body .swiper-button-prev-DiscountPlus:hover,
body .swiper-button-prev-DiscountPlusA:hover,
body .swiper-button-next-DiscountPlusA:hover,
body .swiper-button-prev-DiscountPlusB:hover,
body .swiper-button-next-DiscountPlusB:hover {
  transition: scale 0.17s ease-in-out;
  scale: 1.1;
}
body .swiper-button-next-Discount:not(:hover),
body .swiper-button-prev-Discount:not(:hover),
body .swiper-button-next-DiscountPlus:not(:hover),
body .swiper-button-prev-DiscountPlus:not(:hover),
body .swiper-button-prev-DiscountPlusA:not(:hover),
body .swiper-button-next-DiscountPlusA:not(:hover),
body .swiper-button-prev-DiscountPlusB:not(:hover),
body .swiper-button-next-DiscountPlusB:not(:hover) {
  transition: scale 0.17s ease-in-out;
  scale: 1;
}
body .Social-Links {
  max-width: 1200px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 20px;
  user-select: none;
  background-color: #1b1a1a;
  border: 1px solid #71d522;
  border-radius: 20px;
  z-index: 2;
}
body .Social-Links .Text {
  display: flex;
  align-items: center;
  width: 380px;
}
body .Social-Links .Text p {
  color: #ffffff;
  font-family: "Bold", sans-serif;
  font-size: 18px;
}
body .Social-Links .Links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
body .Social-Links .Links .Box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 130px;
  height: 50px;
  gap: 10px;
  background-color: #ffffff;
  cursor: pointer;
}
body .Social-Links .Links .Box:hover {
  transition: scale 0.2s ease-in-out;
  scale: 1.05;
}
body .Social-Links .Links .Box:not(:hover) {
  transition: scale 0.2s ease-in-out;
  scale: 1;
}
body .Social-Links .Links .Box .Icon {
  display: flex;
  align-items: center;
}
body .Social-Links .Links .Box p {
  color: #333333;
  font-family: "Bold", sans-serif;
  font-size: 14px;
}
body .Social-Links .SmallArrow {
  display: none;
  align-items: center;
}
body .Social-Links .Paragraph {
  font-size: 18px;
  color: #ffffff;
  font-family: "Bold", sans-serif;
  line-height: 35px;
  display: flex;
  flex-direction: column;
}
body .Slider-DiscountPlus {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 100px;
}
body .Slider-DiscountPlus .DiscountPlus-Head {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
body .Slider-DiscountPlus .DiscountPlus-Head .Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body
  .Slider-DiscountPlus
  .DiscountPlus-Head
  .Nav
  .swiper-button-next-DiscountPlus,
body
  .Slider-DiscountPlus
  .DiscountPlus-Head
  .Nav
  .swiper-button-prev-DiscountPlus,
body
  .Slider-DiscountPlus
  .DiscountPlus-Head
  .Nav
  .swiper-button-prev-DiscountPlusA,
body
  .Slider-DiscountPlus
  .DiscountPlus-Head
  .Nav
  .swiper-button-next-DiscountPlusA,
body
  .Slider-DiscountPlus
  .DiscountPlus-Head
  .Nav
  .swiper-button-prev-DiscountPlusB,
body
  .Slider-DiscountPlus
  .DiscountPlus-Head
  .Nav
  .swiper-button-next-DiscountPlusB {
  z-index: 4;
}
body .Slider-DiscountPlus .DiscountPlus-Head .Word {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
body .Slider-DiscountPlus .DiscountPlus-Head .Word p {
  font-size: 22px;
  font-family: "Bold", sans-serif;
  color: #ffffff;
  margin-bottom: -10px;
}
body .Slider-DiscountPlus .DiscountPlus-Head .Word .Icon {
  display: flex;
  align-items: center;
}
body .Slider-DiscountPlus .Slider-Place {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw !important;
  padding: 200px 100px;
  margin: -200px 0;
  gap: 20px;
  overflow: hidden;
  user-select: none;
}
body .Slider-DiscountPlus .Slider-Place .Slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  position: relative;
  background-color: transparent;
  z-index: 1;
}
body .Slider-DiscountPlus .Slider-Place .Slider .swiper-slide {
  width: 220px !important;
  height: 330px !important;
  background: linear-gradient(180.54deg, #d5223e 74.93%, #468a15 115.92%);
  background-blend-mode: overlay;
  border-radius: 24px;
  position: relative;
  box-shadow: 0px 50px 111px 0px rgba(246, 84, 110, 0.6);
  padding: 30px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .Slider-DiscountPlus .Slider-Place .Slider .Slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100% !important;
  height: 100% !important;
}
body .Slider-DiscountPlus .Slider-Place .Slider .Slide .Product-Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  max-height: 160px;
  width: 100%;
  height: 100%;
}
body .Slider-DiscountPlus .Slider-Place .Slider .Slide .Product-Image img {
  width: 100%;
  object-fit: contain;
}
body .Slider-DiscountPlus .Slider-Place .Slider .Slide .Product-Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
body .Slider-DiscountPlus .Slider-Place .Slider .Slide .Product-Title p {
  font-family: "Bold", sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
body .Slider-DiscountPlus .Slider-Place .Slider .Slide .Prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-top: 10px;
  gap: 8px;
}
body .Slider-DiscountPlus .Slider-Place .Slider .Slide .Prices .Price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body
  .Slider-DiscountPlus
  .Slider-Place
  .Slider
  .Slide
  .Prices
  .Price
  .Not-Discount {
  font-family: "Regular", sans-serif;
  color: rgba(229, 236, 241, 0.6);
  text-decoration: line-through;
  font-size: 16px;
  line-height: 20px;
}
body
  .Slider-DiscountPlus
  .Slider-Place
  .Slider
  .Slide
  .Prices
  .Price
  .Discount {
  font-family: "ExtraBold", sans-serif;
  color: #e5ecf1;
  font-size: 16px;
  line-height: 20px;
}
body .Slider-DiscountPlus .Slider-Place .Slider .Slide .Prices .Dis-Precent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body
  .Slider-DiscountPlus
  .Slider-Place
  .Slider
  .Slide
  .Prices
  .Dis-Precent
  .Off-Precent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Regular", sans-serif;
  font-size: 11px;
  line-height: 0;
  background-color: #ff253f;
  border-radius: 100px;
  width: fit-content;
  padding: 10px;
}
body
  .Slider-DiscountPlus
  .Slider-Place
  .Slider
  .Slide
  .Prices
  .Dis-Precent
  span {
  color: #ffffff;
  font-family: "Light", sans-serif;
  font-size: 14px;
}
body .Slider-DiscountPlus.A {
  max-width: 1200px !important;
  gap: 20px;
  align-items: start;
}
body .Slider-DiscountPlus.A .DiscountPlus-Head {
  position: relative;
}
body .Slider-DiscountPlus.A .DiscountPlus-Head .Melon {
  position: absolute;
  display: flex;
  align-items: center;
  rotate: -45deg;
  z-index: 4 !important;
  left: 0;
  top: 24px;
}
body .Slider-DiscountPlus.A .DiscountPlus-Head .Melon img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
body .Slider-DiscountPlus.A .DiscountPlus-Head .SeeMore {
  position: absolute;
  background-color: #e5ecf1;
  width: 200px;
  height: 48px;
  z-index: 1 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  rotate: -90deg;
  flex-shrink: 1;
  left: -63px;
  top: 240px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  gap: 10px;
  padding-top: 8px;
}
body .Slider-DiscountPlus.A .DiscountPlus-Head .SeeMore p {
  font-size: 12px;
  font-family: "Bold", sans-serif;
  color: #485967;
}
body .Slider-DiscountPlus.A .DiscountPlus-Head .SeeMore div {
  display: flex;
  flex-direction: row;
  align-items: center;
  rotate: 90deg;
}
body .Slider-DiscountPlus.A .Slider-Place {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(100% - 60px) !important;
  padding: 0px;
  margin: 0;
  gap: 20px;
  overflow: hidden;
  user-select: none;
  border-radius: 20px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
body .Slider-DiscountPlus.A .Slider-Place .Slider {
  z-index: 2 !important;
}
body .Slider-DiscountPlus.A .swiper-slide {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1.5px solid rgba(255, 255, 255, 0.6);
  border-top: none !important;
  border-bottom: none !important;
}
body .Slider-DiscountPlus.A .swiper-slide:first-child {
  border-right: none !important;
}
body .Slider-DiscountPlus.A .swiper-slide:last-child {
  border-left: none !important;
}
body .Slider-DiscountPlus.A .swiper-slide .Slide {
  border-radius: 0 !important;
}
body .Slider-DiscountPlus.A.Motavasete {
  margin-top: 50px;
}
body .Slider-DiscountPlus.A.Motavasete .Slider-Place {
  width: 100% !important;
}
body .Slider-DiscountPlus.A.Motavasete .DiscountPlus-Head {
  position: relative;
  overflow: visible !important;
}
body .Slider-DiscountPlus.A.Motavasete .DiscountPlus-Head .Offer-Timer {
  border-radius: 100px;
  width: 210px;
  height: 50px;
  padding: 0 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ff7d8d 0%, #ff253f 100%);
}
body .Slider-DiscountPlus.A.Motavasete .DiscountPlus-Head .Offer-Timer p {
  font-size: 16px;
  font-family: "Regular", sans-serif;
  color: #ffffff;
}
body .Slider-DiscountPlus.A.Motavasete .DiscountPlus-Head .Pagination {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: center !important;
  width: 240px !important;
  height: 60px !important;
  background-color: #ffffff;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}
body .Slider-DiscountPlus.A.Motavasete .DiscountPlus-Head .Pagination * {
  font-size: 14px;
  font-family: "Bold", sans-serif;
  color: #333333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body
  .Slider-DiscountPlus.A.Motavasete
  .DiscountPlus-Head
  .Pagination
  .Options-Classes-Selecting {
  width: 210px;
  height: 40px;
  padding: 4px;
  border-radius: 100px;
  background-color: #f3f7fb;
}
body
  .Slider-DiscountPlus.A.Motavasete
  .DiscountPlus-Head
  .Pagination
  .Options-Classes-Selecting
  .Class-Name-Select {
  height: 100%;
  width: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  cursor: pointer;
}
body
  .Slider-DiscountPlus.A.Motavasete
  .DiscountPlus-Head
  .Pagination
  .Options-Classes-Selecting
  .Class-Name-Select.selected {
  background-color: #ffffff;
}
body .Discount-Code-Banner {
  align-self: center;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 290px;
  background: linear-gradient(
    89.45deg,
    #00c09b -12.67%,
    #9df782 25.56%,
    #acef98 74.38%,
    #61edd2 104.96%
  );
  margin-bottom: 80px;
}
body .Discount-Code-Banner .Items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1240px;
  width: 100%;
}
body .Discount-Code-Banner .Items .MelonImage {
  display: flex;
  align-items: center;
  transform: translate(0px, -10px);
  width: 250px;
  margin-left: -50px;
}
body .Discount-Code-Banner .Items .MelonImage img {
  width: 300px;
  height: 245px;
  object-fit: contain;
}
body .Discount-Code-Banner .Items .Texts {
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .Discount-Code-Banner .Items .Texts .Big {
  color: rgba(0, 0, 0, 0.8705882353);
  font-family: "ExtraBold", sans-serif;
  font-size: 32px;
  letter-spacing: -1px;
}
body .Discount-Code-Banner .Items .Texts .Small {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Regular";
}
body .Discount-Code-Banner .Items .Box-Copy-Code {
  width: 380px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #d5223e;
  position: relative;
  overflow: hidden;
  gap: 10px;
}
body .Discount-Code-Banner .Items .Box-Copy-Code * {
  z-index: 3;
}
body .Discount-Code-Banner .Items .Box-Copy-Code .Back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2 !important;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(114, 118, 124, 0.75) 10%,
    #020202 100%
  );
}
body .Discount-Code-Banner .Items .Box-Copy-Code img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1 !important;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
body .Discount-Code-Banner .Items .Box-Copy-Code .Words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .Discount-Code-Banner .Items .Box-Copy-Code .Words .Big {
  color: #ffffff;
  font-family: "ExtraBold", sans-serif;
  font-size: 30px;
  text-align: center;
}
body .Discount-Code-Banner .Items .Box-Copy-Code .Words .Small {
  color: #ffffff;
  font-family: "Regular", sans-serif;
  text-align: center;
  font-size: 20px;
}
body .Discount-Code-Banner .Items .Box-Copy-Code .Copy-Place {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px 6px 6px;
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: -10px;
}
body .Discount-Code-Banner .Items .Box-Copy-Code .Copy-Place p {
  color: #333333;
  font-size: 14px;
  font-family: "Bold", sans-serif;
}
body .Discount-Code-Banner .Items .Box-Copy-Code .Copy-Place .CopyBtn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: #d5223e;
  width: 86px;
  height: 36px;
  border-radius: 12px;
}
body .Discount-Code-Banner .Items .Box-Copy-Code .Copy-Place .CopyBtn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Regular", sans-serif;
  font-size: 14px;
}
body .Discount-Code-Banner .Items .Using-Bar {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
  gap: 6px;
}
body .Discount-Code-Banner .Items .Using-Bar .Word1 {
  color: #ffffff;
  font-family: "Regular", sans-serif;
  font-size: 14px;
  width: 100%;
}
body .Discount-Code-Banner .Items .Using-Bar .Bar-B {
  width: 250px;
  height: 5px;
  border-radius: 100px;
  background-color: #d5223e;
  margin-bottom: 6px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
body .Discount-Code-Banner .Items .Using-Bar .Bar-B .Bar {
  position: absolute;
  border-radius: 100px;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 70%;
  height: 5px;
}
body .Discount-Code-Banner .Items .Using-Bar .Word2 {
  color: #ffffff;
  font-family: "Bold", sans-serif;
  font-size: 14px;
}

@media (max-width: 1250px) {
  body .Container-Products {
    max-width: 85vw;
  }
  body .Transportation-Banner .Banner-Texts .Text {
    margin-right: 20px;
  }
  body .Transportation-Banner .Banner-Texts .Text .BigText * {
    font-size: 34px;
  }
  body .Transportation-Banner .Banner-Texts .Text .SmallText {
    font-size: 16px;
  }
  body .Category-Discount .Head-Text {
    max-width: none;
    width: 90vw;
  }
  body .Slider-DiscountPlus {
    max-width: none;
    width: 90vw;
  }
}
@media (max-width: 1150px) {
  body {
    overflow-x: hidden;
  }
  body .Yalda-Banner .Text {
    right: 4%;
    z-index: 3;
  }
  body .Yalda-Banner .Text .Code {
    font-size: 12px;
    padding: 12px 12px;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-120%);
    margin-bottom: 8px;
  }
  body .Yalda-Banner .Text .Texts h1 {
    font-size: 36px;
  }
  body .Yalda-Banner .Text .Texts h4 {
    font-size: 26px;
  }
  body .Yalda-Banner .Text button {
    margin-top: 8px;
    padding: 10px;
    gap: 8px;
    border-radius: 14px;
  }
  body .Yalda-Banner .Text button span {
    font-size: 14px;
  }
  body .Yalda-Banner .Text button svg {
    width: 7px;
    height: 14px;
  }
  body .Yalda-Banner .ShadowLine {
    box-shadow: 0 0 56px 70px #ba332f;
  }
  body .Yalda-Banner .ShadowLine::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -30px;
    box-shadow: 0 0 156px 130px rgba(186, 52, 47, 0.5333333333);
  }
  body .Container-Products .Small-Sliders .Slider.Left .Slides .Product-Price {
    align-items: flex-start;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Left
    .Slides
    .Product-Price
    .Show-Product
    .Show {
    display: none !important;
  }
  body .Social-Links {
    max-width: none;
    width: 95vw;
  }
  body .Discount-Code-Banner .Items .MelonImage {
    margin: 0;
  }
  body .Discount-Code-Banner .Items .MelonImage img {
    width: 190px;
  }
}
@media (max-width: 1050px) {
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Title {
    font-size: 16px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Details
    .Word {
    font-size: 12px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Details
    .Details
    * {
    font-size: 10px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Price
    .Prices
    .Price {
    font-size: 14px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Price
    .Prices
    .Off-Price
    p {
    font-size: 20px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Price
    .Show-Product {
    display: none;
  }
  body .Transportation-Banner .Banner-Texts .Text .BigText * {
    font-size: 30px;
  }
  body .Transportation-Banner .Banner-Texts .Text .SmallText {
    font-size: 14px;
  }
  body .Category-Discount .Slider-Place .Slide .Texts {
    gap: 4px;
  }
  body .Category-Discount .Slider-Place .Slide .Texts .B-Text {
    font-size: 28px;
  }
  body .Category-Discount .Slider-Place .Slide .Texts .S-Text {
    font-size: 12px;
  }
  body .Social-Links {
    flex-direction: column;
    gap: 20px;
  }
  body .Social-Links .BigArrow {
    display: none;
  }
  body .Social-Links .SmallArrow {
    display: flex;
  }
  body .Social-Links .Text {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  body .Social-Links .Text p {
    text-align: center;
    font-size: 14px;
  }
  body .Social-Links .Paragraph {
    font-size: 14px;
    line-height: 26px;
  }
  body .Slider-DiscountPlus.A .Slider-Place {
    width: 100% !important;
  }
  body .Slider-DiscountPlus.A .DiscountPlus-Head {
    overflow: hidden;
  }
  body .Slider-DiscountPlus.A .DiscountPlus-Head .Melon {
    display: none;
  }
  body .Slider-DiscountPlus.A .DiscountPlus-Head .SeeMore {
    background-color: transparent;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    rotate: none !important;
  }
  body .Slider-DiscountPlus.A .DiscountPlus-Head .SeeMore div {
    display: none;
  }
  body .Slider-DiscountPlus.A .DiscountPlus-Head .SeeMore p {
    color: #ffffff;
    font-size: 10px;
  }
  body .Discount-Code-Banner .Items .Texts {
    padding-left: 10px;
    width: auto;
  }
  body .Discount-Code-Banner .Items .Texts .Big {
    font-size: 22px;
  }
  body .Discount-Code-Banner .Items .Texts .Small {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .Discount-Code-Banner {
    margin-top: 40px !important;
    margin-bottom: 240px !important;
    justify-content: center;
    align-items: center;
  }
  .Discount-Code-Banner * {
    text-align: center;
  }
  .Discount-Code-Banner .Items {
    flex-direction: column !important;
  }
  .Discount-Code-Banner .Items .MelonImage {
    transform: translate(-20px, 20px) !important;
    margin: 0 !important;
  }
  .Discount-Code-Banner .Items .MelonImage * {
    margin: 0 !important;
    transform: none !important;
  }
  .Discount-Code-Banner .Items .Texts {
    margin: 0 !important;
    transform: none !important;
    width: 90%;
    margin-bottom: 14px !important;
  }
  .Discount-Code-Banner .Items .Box-Copy-Code {
    width: 280px !important;
    height: 300px !important;
    margin-bottom: -40px !important;
  }
  .Discount-Code-Banner .Items .Box-Copy-Code .Words .Big {
    font-size: 24px !important;
  }
  .Discount-Code-Banner .Items .Box-Copy-Code .Words .Small {
    font-size: 14px !important;
  }
  .Discount-Code-Banner .Items .Box-Copy-Code .Using-Bar * {
    font-size: 12px !important;
  }
  .Discount-Code-Banner .Items .Box-Copy-Code .Using-Bar .Bar-B {
    margin: 10px 0;
    width: 90% !important;
  }
  .Slider-DiscountPlus.A.Motavasete .DiscountPlus-Head {
    flex-direction: column;
    padding-bottom: 80px;
    gap: 20px;
  }
  .Slider-DiscountPlus.A.Motavasete .DiscountPlus-Head .Word {
    width: 100%;
  }
  .Slider-DiscountPlus.A.Motavasete .DiscountPlus-Head .Pagination {
    bottom: 0 !important;
  }
}
@media (max-width: 900px) {
  body * {
    cursor: default !important;
  }
  body .swiper-button-next-Discount,
  body .swiper-button-prev-Discount,
  body .swiper-button-next-DiscountPlus,
  body .swiper-button-prev-DiscountPlus,
  body .swiper-button-prev-DiscountPlusA,
  body .swiper-button-next-DiscountPlusA,
  body .swiper-button-prev-DiscountPlusB,
  body .swiper-button-next-DiscountPlusB {
    cursor: default !important;
  }
  body .swiper-button-next-DiscountPlus.a,
  body .swiper-button-prev-DiscountPlus.a,
  body .swiper-button-prev-DiscountPlusA,
  body .swiper-button-next-DiscountPlusA,
  body .swiper-button-prev-DiscountPlusB,
  body .swiper-button-next-DiscountPlusB {
    display: none;
  }
  body .Transportation-Banner .Banner-Texts .Text .BigText * {
    font-size: 26px;
  }
  body .Transportation-Banner .Banner-Texts .Text .SmallText {
    font-size: 12px;
  }
  body .Transportation-Banner .Icons .Square.a {
    transform: translate(100px, -30px);
  }
  body .Category-Discount {
    width: 95vw !important;
  }
  body .Category-Discount svg {
    height: 40px;
    width: 40px;
  }
  body .Category-Discount .Nav-Top {
    display: flex;
  }
  body .Category-Discount .Nav-Bottom {
    display: none;
  }
  body .Category-Discount .Slider-Place .Slide {
    width: 320px;
    height: 460px;
  }
  body .Category-Discount .Head-Text .Word p {
    font-size: 14px;
  }
  body .Slider-DiscountPlus svg {
    width: 40px;
    height: 40px;
  }
  body .Slider-DiscountPlus .Slider-Place {
    width: 100vw;
    padding: 200px 30px;
  }
  body .Slider-DiscountPlus .DiscountPlus-Head .Word p {
    font-size: 16px;
  }
}
@media (max-width: 830px) {
  body .Container-Products .Small-Sliders .Slider.Right {
    width: 100%;
  }
  body .Container-Products .Small-Sliders .Slider.Left {
    display: none !important;
    visibility: hidden !important;
  }
  body .Transportation-Banner {
    margin: 0;
    margin-top: -54px;
    margin-bottom: 20px;
    height: 430px;
  }
  body .Transportation-Banner .Banner-Image img {
    width: 100%;
    transform: translateY(30px);
  }
  body .Transportation-Banner .Banner-Texts {
    flex-direction: column-reverse;
    height: 100%;
    padding-bottom: 20px;
  }
  body .Transportation-Banner .Banner-Texts .Text {
    transform: none;
    align-items: center;
    gap: 0;
    margin-right: 0;
  }
  body .Transportation-Banner .Banner-Texts .Text .BigText {
    flex-direction: row;
  }
  body .Transportation-Banner .Banner-Texts .Text .BigText span {
    display: flex;
  }
  body .Transportation-Banner .Banner-Texts .Text .BigText * {
    font-size: 18px;
  }
  body .Transportation-Banner .Banner-Texts .Text .SmallText {
    font-size: 10px;
  }
  body .Transportation-Banner .Icons {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    transform: translateY(20px);
    z-index: 4 !important;
  }
  body .Transportation-Banner .Icons .Square {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    padding: 0;
    border: 1px solid #ffffff;
    transform: none !important;
  }
  body .Transportation-Banner .Icons .Square .Icon svg {
    width: 32px;
    height: 32px;
  }
  body .Transportation-Banner .Icons .Square .Word * {
    font-size: 10px;
  }
}
@media (max-width: 660px) {
  body .Yalda-Banner .Text {
    top: 10%;
  }
  body .Yalda-Banner .BackgroundImage {
    overflow: hidden;
  }
  body .Yalda-Banner .BackgroundImage img {
    object-fit: cover;
    width: 130%;
    margin-right: -100px;
  }
  body .Container-Products .Big-Slider .Slides {
    max-width: 85vw;
  }
  body .Container-Products .Small-Sliders .Slider.Right .Slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  body .Container-Products .Small-Sliders .Slider.Right .Slides .Section1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Image {
    max-height: 170px !important;
    max-width: 100px !important;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Title {
    font-size: 14px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Details {
    display: none;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Price {
    justify-content: center;
    margin-top: 10px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Price
    .Prices
    .Price {
    font-size: 12px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Price
    .Prices
    .Off-Price
    p {
    font-size: 16px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Price
    .Prices
    .Off-Price
    .Off-Label {
    gap: 0;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Price
    .Prices
    .Off-Price
    .Off-Label
    span {
    font-size: 12px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section1
    .Product-Infonmation
    .Product-Price
    .Prices
    .Off-Price
    .Off-Label
    .Off-Precent {
    font-size: 10px;
    padding: 2px 6px;
  }
  body .Container-Products .Small-Sliders .Slider.Right .Slides .Section2 {
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section2
    .Product-Balance
    .Balance-Bar {
    width: 250px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section2
    .Off-Time {
    flex-direction: row !important;
    align-items: center;
    gap: 10px;
  }
  body
    .Container-Products
    .Small-Sliders
    .Slider.Right
    .Slides
    .Section2
    .Off-Time
    .Time
    * {
    font-size: 16px;
  }
}
@media (max-width: 520px) {
  body .Yalda-Banner .ShadowLine {
    bottom: -10px;
  }
  body .Yalda-Banner .ShadowLine::after {
    box-shadow: 0 0 156px 130px rgba(186, 52, 47, 0.3568627451);
  }
  body .Yalda-Banner .BackgroundImage img {
    object-fit: cover;
    width: 120%;
    margin-right: -20px;
  }
  body .Yalda-Banner .Text .Code {
    transform: translateX(-80%);
  }
  body .Yalda-Banner .Text .Texts h1 {
    font-size: 26px;
  }
  body .Yalda-Banner .Text .Texts h4 {
    font-size: 22px;
  }
  body .Yalda-Banner .Text button span {
    font-size: 10px;
  }
}
@media (max-width: 340px) {
  body .Transportation-Banner .Banner-Texts .Text .BigText * {
    font-size: 14px;
  }
  body .Transportation-Banner .Banner-Texts .Text .SmallText {
    font-size: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
